:root{
    --color-lightGray: #2A4747;
    --color-beige: #EFECCA;
    --color-fireBrick-highlight: #E7754E;
    --color-offWhite: rgb(231, 231, 231);

    --color-rainbow: green;

    --p1-color: #e35151;
    --p2-color: #5d8dd5;
}

*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Nova Square', sans-serif;
}

body{

    width: 500px;
    height: 100vh;
    margin: auto;
    background-color:#2A4747;
}

.container{
    display: none;
    background-color: var(--color-offWhite);
    /* border: 5px solid var(--color-fireBrick-highlight); */
    padding: 20px;
    margin-top: 100px;
    border-radius: 10px;
}



.game{
    padding: 50px 75px 50px 75px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #EFECCA;
    border: 5px solid var(--color-lightGray)
}

.score{
    display: flex;
    gap: 20px;
    padding: 10px;
    border: 1px dotted gray;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: var(--color-lightGray);
    color: white;
    font-size: 1.3em;
    text-shadow: 2px 2px 2px white;
}

.score .p1::before{
    content: "Player 1: ";
    font-weight: 600;
    text-shadow: none;
    text-shadow: 2px 2px 2px var(--p1-color);
}

.score .p2::before{
    content: "Player 2: ";
    font-weight: 700;
    text-shadow: none;
    text-shadow: 2px 2px 2px var(--p2-color);
}

.reset{
    margin-bottom: 10px;
    padding: 10px 15px 10px 15px;
    font-weight: 700;
}

.board{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.board-grid{
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 2px solid black;
    background-color: var(--color-offWhite);
}

.grid-square{
    
    border: 1px solid silver;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-square:hover{
    background-color: whitesmoke;
}

.color1-triangle{
    background-color: var(--p1-color);
    width: 100px;
    height: 100px;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    border-radius: 20px;
    position: absolute;
}


.color2-triangle{
    background: var(--p2-color);
    width: 100px;
    height: 100px;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    border-radius: 20px;
    position: absolute;
}

.color1-triangle:hover,
.color2-triangle:hover{
    
    filter: brightness(120%);
    transition-duration: .2s;
    cursor: pointer;
    z-index: 99;
}

.color2-triangle:hover{
    clip-path: polygon(84% 0, 100% 0, 100% 100%, 0 100%, 0 82%);

}

.color1-triangle:hover{
    clip-path: polygon(100% 0, 100% 23%, 28% 100%, 0 100%, 0 0);
}



/* START SCREEN */

.start-screen{
    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 150px;
}

.start-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: var(--color-beige);
    border-radius: 10px;
    border: 10px solid var(--color-lightGray);
    outline: 5px solid var(--color-offWhite);
    
    padding: 20px; 
}

.start-container .start-title{
    grid-area: 1 / 1 / 2 / 3;
}

.start-container .startBtn{
    grid-area: 3 / 1 / 4 / 3;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 1.1em;
}
.startBtn:hover{
    filter: brightness(80%);
}

.rainbow{
    box-shadow: 0px 0px 100px 20px var(--color-rainbow);
    animation: rainbow 5s linear;
    animation-iteration-count: infinite;
}

@keyframes rainbow{
    0%{
        box-shadow: 0px 0px 100px 20px rgb(255, 92, 92);
    }
    20%{
        box-shadow: 0px 0px 100px 20px rgb(255, 199, 88)(255, 230, 0);
    }
    40%{
        box-shadow: 0px 0px 100px 20px rgb(139, 255, 112);
    }
    60%{
        box-shadow: 0px 0px 100px 20px rgb(0, 174, 255);
    }
    80%{
        box-shadow: 0px 0px 100px 20px rgb(255, 93, 242)(255, 0, 225);
    }
    100%{
        box-shadow: 0px 0px 100px 20px rgb(253, 116, 116);
    }
}